name: Angular Workflow
on:
  push:
    branches: [master]

jobs:
  buildAPP:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.1
      - name: update la vm
        run: sudo apt-get update
      - name: installer Node JS
        run: sudo apt-get install -y nodejs
      - name: verifier version npm
        run: npm install
      - name: Installer Angular
        run: sudo npm install -g @angular/cli
      - name: build
        run: |
          ng build
